@font-face {
    font-family: 'blinkingregular';
    src: url('./fonts/blinking_free-webfont.woff2') format('woff2'),
         url('./fonts/blinking_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: blinkingregular, system-ui;
    font-size: 16px;
}

* { list-style: none; padding: 0; margin: 0; box-sizing: border-box;}

h1 {
    font-size: 4rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    padding-top: 50px;
    flex-grow: 1;
}

#gameboard {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    border: 6px ridge black;
    border-radius: 30px;
    overflow: hidden;
}

#gameboard li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1rem;
}

footer {
    border-top: 3px ridge black;
    width: 100%;
    text-align: center;
}
