@font-face {
    font-family: 'blinkingregular';
    src: url('./fonts/blinking_free-webfont.woff2') format('woff2'),
         url('./fonts/blinking_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: blinkingregular, system-ui;
    font-size: 16px;
}

* { list-style: none; padding: 0; margin: 0; box-sizing: border-box;}

h1 {
    font-size: 4rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(90, 104, 104);
}

main {
    padding-top: 50px;
    flex-grow: 1;
}

#gameboard {
    display: grid;
    width: 300px;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    border: 6px ridge black;
    border-radius: 30px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playAgain {
    width: 100px;
    margin: 30px;
    padding: 5px 15px;
    border-radius: 5px;
}

#gameboard li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.gameboard-container {
    display: flex;
    justify-content: center;
}

footer {
    border-top: 3px ridge black;
    width: 100%;
    text-align: center;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
}

.cell:hover {
    background-color: rgb(108, 125, 125);
}

#game-state {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
}

input {
    width: 100px;
}

#name-input {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.9);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 15px;
}

button {
    padding: 3px;
    border-radius: 5px;
    min-height: 22px;
    min-width: 22px;
}